section {
  width: 360px;
}
h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

label:not(:last-child) {
  margin-bottom: 20px;
}
span {
  display: block;
}
input {
  width: 100%;
  padding: 4px;
}

button {
  width: 170px;
  align-self: center;
  font-size: 17px;
}
